<footer class="footer">
  <small>
    The League of legend forum
    by <a href="http://github.com/ZhanLiangUF">Zhan Liang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://na.leagueoflegends.com/en/news/game-updates/patch">News</a></li>
    </ul>
  </nav>
</footer>